.header {
    text-align: center; /* Center header content */
    padding: .5rem;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
    max-width: 600px; /* Max width for larger screens */
    margin: auto; /* Center the content */
    
    margin-bottom: 2rem; /* Add some space below the header */
    margin-top: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    border-radius: 8px; /* Rounded corners */
    font-size: 1.3rem;
    color: black
  }