/* Style for the image section */
.search-result-pic img {
    animation-name: result-animation;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    width: 100%;  /* Ensures the image covers the designated area */
    height: 250px; /* Maintains the aspect ratio of the image */
    object-fit: cover; /* Ensures the image covers the area without distortion */
    margin-bottom: 10px;
    border-radius: 8px;
}

/* Title styling for better emphasis and readability */
.search-result-title {
    font-size: 20px; /* Slightly larger for prominence */
    font-weight: bold;
    color: #333; /* Darker text for better readability */
    
    //margin-top: 10px; /* Space above the title */
}

/* Unified font styling for description and protection */
.search-result-desc, .search-result-pro {
    font-size: 16px;
    color: #353535; /* Lighter color for less emphasis than the title */
    // padding: 0 10px; /* Padding for alignment with the title */
    margin-top: 5px; /* Spacing for visual separation */
}

/* Hover effect for interaction feedback */


/* Grid layout configuration and overall styling */
.search-result {
    animation-name: result-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards; /* Ensures the properties defined in the last keyframe persist after the animation ends */
    display: grid;
    grid-template-columns: repeat(3, 8rem); /* Three equal columns for simplicity */
    grid-template-areas:
        "pic pic pic"
        "title title title"
        "loc loc loc"
        "grade rating votes"
        "desc desc desc"
        "pro pro pro";
    background: rgba(255, 255, 255, 0); /* Start with transparent background */
    opacity: 0; /* Start fully transparent */
    // transform: translateY(20px); /* Start slightly lower than final position */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    cursor: pointer;
    gap: 10px;
}

@keyframes result-animation {
    0% {
        background: rgba(255, 255, 255, 0);
        opacity: 0;
        transform: translateY(20px); /* Begin 20px down from the final position */
    }
    100% {
        background: rgba(243, 1, 1, 0.9); /* End with the semi-transparent background */
        opacity: 1; /* Fully visible */
        transform: translateY(0); /* End at the final vertical position */
    }
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .search-result {
        grid-template-columns: 1fr; /* Single column layout on smaller screens */
        grid-template-areas:
            "pic"
            "title"
            "loc"
            "grade"
            "rating"
            "votes"
            "desc"
            "pro";
    }
}
.search-result:hover {
    border-color: var(--darkNavy);
}

.video-box{
    animation-name: result-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    position: relative; 
    height: 0; overflow: hidden; 
    padding-bottom: 56.25%; /* 16/9 ratio */ 
    border-style: none;
}

.video{
    position: absolute; 
    top:0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}