.small-header {
    // animation-name: result-animation;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    display: flex;
    justify-content: center;
    // text-align: center; /* Center header content */
    padding: .2rem;
    // position: absolute;
    // background-color: rgba(255, 255, 255, 0.9); /* Making background less transparent for readability */
    width: 100%; /* Max width for larger screens */
    margin: 0 auto;   /* Center the content horizontally, reset any custom margins */
    margin-top: .5rem;
    margin-bottom: 1rem; /* Add some space below the header */
    font-size: 1rem;
    color: black;
    cursor: pointer;  /* Indicates it's clickable */
    width: 100%;       /* Ensure it spans the full container width if needed */
}
img {
  // margin-top: .5rem;
  width:90px;
}

  @keyframes result-animation {
    0% {
        color: rgba(255, 255, 255, 0);
        opacity: 0;
        transform: translateY(10px); /* Begin 20px down from the final position */
    }
    100% {
        color: rgba(255, 255, 255, 1); /* End with the semi-transparent background */
        opacity: 1; /* Fully visible */
        transform: translateY(0); /* End at the final vertical position */
    }
}