@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600'); 
@import "@runette/leaflet-fullscreen/dist/leaflet.fullscreen.css";

:root{
 --darkNavy: #213140;
  --open-sans: 'Open Sans', 'Helvetica', sans-serif;
  --poppins:  "Poppins", sans-serif;

--teal1: #66B3FB;
--teal2: #4B9DEA;
--charcoal: #555555;
--gold: #B6985A;
--background-color-global: #FAFAF5; /* End with the semi-transparent background */
--border-color-global: #E6E6E6;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--poppins);
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  


.background {
    position: fixed; /* Fixed position to stay in place on scroll */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    // background-image: url('assets/buttermilks.jpg');
    background-size: cover;
    background-position: center;
    // filter: blur(5px);
    z-index: -1;
  }