.search-content {
  animation-name: result-animation;
  animation-duration: .5s;
  animation-fill-mode: forwards; 
  position: relative;
  z-index: 1;
  width: 90%; /* Slightly reduce width for padding */
  max-width: 800px; /* Max width for larger screens */
  margin: auto; /* Center the content */
  margin-bottom: 2rem;
  padding: 20px;
  border: solid;
  border-color: var(--border-color-global);
  border-radius: 8px; /* Rounded corners */
  // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* More prominent shadow for depth */
}

.search label {
  font-family: var(--poppins);
}
.search-container {
    display: flex;
    justify-content: center; 
    flex-direction: row; 
    align-items: center; 
    gap: 10px
  }
  input[type="text"]{
    width: 400px;
    border: solid;
    border-width: 1px;
    border-color: #E6E6E6;
  
  }
  input[type="text"], button {
    
    padding: 10px;
    margin-top: 10px; /* Add space above */
    border-radius: 6px;
    font-size: 1rem;
    
  }
  button {
    background-color:var(--teal2);
    border: none;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3; /* Darker blue on hover for feedback */
  }
  

  .options-container {
  
    display: flex; /* Enables flexbox layout */
    justify-content: center; /* Center items horizontally */
    flex-direction: row; /* Stack items vertically */
    align-items: center; /* Center items vertically */
    gap: 30px
  }
  .options-container div {
    margin: 10px 0; /* Add some vertical space between options */
  }
  
  label {
    margin-left: 8px; /* Space out the label from the radio button */
  }

  @keyframes result-animation {
    0% {
        background: rgba(255, 255, 255, 0);
        opacity: 0;
        transform: translateY(20px); /* Begin 20px down from the final position */
    }
    100% {
        background: var(--background-color-global); /* End with the semi-transparent background */
        opacity: 1; /* Fully visible */
        transform: translateY(0); /* End at the final vertical position */
    }
}