.logo {
  // position: absolute;
  // right: 100%;
  // z-index: 1;
  margin-right: 70px;
  // transform: translateX(-200px);
  width: 8em;
}
.search-content {
  animation-name: result-animation;
  animation-duration: .5s;
  animation-fill-mode: forwards; 
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 1;
  width: fit-content; /* Slightly reduce width for padding */
  // max-width: 800px; /* Max width for larger screens */
  // margin: auto; /* Center the content */
  margin-left: 50px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 20px;
  border: solid;
  border-color: var(--border-color-global);
  border-radius: 8px; /* Rounded corners */
  // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* More prominent shadow for depth */
}

.search label {
  font-family: var(--poppins);
}
.search-container {
    display: flex;
    justify-content: start; 
    flex-direction: row; 
    align-items: center; 

  }

  input[type="text"] {
    
    // padding: -10px;
    // margin-top: 10px; /* Add space above */
    border-radius: 6px;
    font-size: 1rem;
    
  }
  button{
    margin-left: 5px;
  }



  .options-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 1px; 
  }
  .options-container div {
    margin: 10px 0; /* Add some vertical space between options */
  }
  
  label {
    margin-left: 8px; /* Space out the label from the radio button */
  }

  @keyframes result-animation {
    0% {
        background: rgba(255, 255, 255, 0);
        opacity: 0;
        transform: translateY(20px); /* Begin 20px down from the final position */
    }
    100% {
        background: var(--background-color-global); /* End with the semi-transparent background */
        opacity: 1; /* Fully visible */
        transform: translateY(0); /* End at the final vertical position */
    }
}