.results-container{
    animation-name: result-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards; /* Ensures the properties defined in the last keyframe persist after the animation ends */
    position: relative;
    z-index: 1;
    width: 90%; /* Slightly reduce width for padding */
    max-width: 1500px; /* Max width for larger screens */
    margin: auto; /* Center the content */
    margin-top: 2rem;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* More prominent shadow for depth */
    padding: 10px;
    display: flex; /* Enables flexbox layout */
    justify-content: center; /* Center items horizontally */
    flex-direction: row; /* Stack items vertically */
    flex-wrap: wrap;
    align-items: stretch;
    gap: 30px
    
  }

  @keyframes result-animation {
    0% {
        background: rgba(255, 255, 255, 0);
        opacity: 0;
        transform: translateY(20px); /* Begin 20px down from the final position */
    }
    100% {
        background: rgba(255, 255, 255, 0.9); /* End with the semi-transparent background */
        opacity: 1; /* Fully visible */
        transform: translateY(0); /* End at the final vertical position */
    }
}