$activeShadow: 0 0 10px rgba(var(--teal1), .5);


.paging {
  // margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;

}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}


.results-container {
  animation-name: result-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  /* Ensures the properties defined in the last keyframe persist after the animation ends */

  z-index: 1;
  // width: 90%;
  // margin-left: 1rem;
  // margin-right: 1rem;
  /* Slightly reduce width for padding */
  // max-width: 1500px;
  /* Max width for larger screens */
  // margin: auto; /* Center the content */
  // margin-top: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  /* Semi-transparent background */
  border-radius: 8px;
  /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  /* More prominent shadow for depth */
  padding: 10px;
  display: flex;
  /* Enables flexbox layout */
  justify-content: flex-start;
  /* Center items horizontally */
  flex-direction: column;
  /* Stack items vertically */
  // flex-wrap: wrap;
  align-content: flex-start;
  gap: 20px;
  overflow: auto;
  position: relative;
  left: 2rem;
  height: 74vh;
}

@keyframes result-animation {
  0% {
    background: rgba(255, 255, 255, 0);
    opacity: 0;
    transform: translateY(20px);
    /* Begin 20px down from the final position */
  }

  100% {
    background: rgba(255, 255, 255, 0.9);
    /* End with the semi-transparent background */
    opacity: 1;
    /* Fully visible */
    transform: translateY(0);
    /* End at the final vertical position */
  }
}


.form-control+.form-control {
  margin-top: 1em;
}

.left-button {
  border-radius: 6px 0 0 6px;
  border-left: none;
}

.right-button {
  border-radius: 0 6px 6px 0;
  border-right: none;
}